* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

/* TOP VIDEO BANNER STYLE */

/* .promo-banner {
  width: 100%;
  height: 60px;  control how tall the banner is 
   overflow: hidden;  crops the video to fit 
   line-height: 0;  removes any extra space below the video 
} 

.promo-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* fills the banner without stretching } */

/* HEADER ---- STYLE ---  SECTION */

/* header styles */
.main-header {
  position: sticky;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: #fff;
}

.menu-toggle {
  display: none;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo img {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  cursor: pointer;
}

.logo h1 {
  font-size: 1.5rem;
  color: #1f4e79;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* header form  styles */

.search-bar {
  display: flex;
  flex-direction: row;
  grid-column: 2 / 3;
}
header form {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

header input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  flex-grow: 1;
  padding: 0.75rem 1rem;
}

header input[type="text"]::placeholder {
  color: #999;
  font-size: 1rem;
}

header input[type="text"]:focus {
  border-color: #1f4e79;
  border: 2px solid #1f4e79;
}

header button {
  border: 1px solid #ccc;
  border-left: none;
  background-color: #ff6b35;
  color: white;
  padding: 1rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

/* header account styles */
.headeracc {
  display: flex;
  color: #333;
  gap: 0.9rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  justify-content: flex-end;
  margin-top: 5%;
  margin-bottom: 5%;
}

.icons-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headeracc a {
  color: #1f4e79;
  text-decoration: none;
  cursor: pointer;
}

.headeracc a :hover {
  color: #1f4e79;
}

.headeracc p {
  font-size: 0.6rem;
  color: #333;
}

hr {
  border: none;
  height: 1px;
  background: #e5e7eb;
}

/* second header styles */
.header3 {
  display: flex;
  background-color: #f9fafb;
  gap: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  font-weight: 400;
}
.header3 a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header3 a:hover {
  color: #1f4e79;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header3 a:active {
  color: #f59e0b;
}

.header3 a:visited:hover {
  color: #1f4e79;
}
.all-categories {
  margin-left: 2rem;
  color: #1f4e79;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 550;
}

/* HERO --- STYLE ---- SECTION */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;

  background: #1f4e79; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2774ae,
    #1f4e79,
    #1f4e79
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2774ae,
    #1f4e79,
    #1f4e79
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* FOOTER --- STYLE ---- SECTION */

footer {
  background-color: #0f172a;
  color: #94a3b8;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  justify-content: space-between;
}
footer h3 {
  color: #ffffff;
  margin-bottom: 1.5rem;
}

footer p {
  color: #cbd5e1;
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

footer a {
  text-decoration: none;
  cursor: pointer;
}

footer a :hover {
  color: #ff6b35;
}

.back-to-top {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #1f4e79;
  display: none;
}
/* FOOTER ---- FIRST ---- COLUMN */

footer img {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

footer .footerlogo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer .footerlogo h1 {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: "inter", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.socials-icon :hover {
  stroke: #ff6b35;
}

/* FOOTER ---- FOURTH ---- COLUMN */
.contact-us {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact-us-element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer hr {
  border: none;
  height: 1px;
  background: #94a3b8;
}

/* FOOTER ---- LAST ---- COLUMN */
.footer-last-column {
  display: flex;
  padding: 0 3rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.footer-last-column-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

/* Tablet & Up (min-width: 768px) */
/* @media (min-width: 768px) {

} */

/* Mobile Adjustments (max-width: 600px) */
@media (max-width: 600px) {
  .promo-banner {
    width: 100%;
    height: 40px;
  }

  header {
    grid-template-columns: 1fr 4fr 4fr;
    row-gap: 1rem;
    padding: 0.75rem 1rem;
  }

  .menu-toggle {
    display: flex;
    cursor: pointer;
  }
  .logo img {
    margin-left: 0;
    width: 40px;
    height: 40px;
  }
  .logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  header h1 {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .search-bar {
    grid-column: 1 / -1;
  }

  .headeracc {
    /* justify-content: center; */
    /* margin-top: 0.5rem; */
    /* margin-right: 0; */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* margin-left: 0; */
    margin: 0;
    justify-content: flex-end;
  }
  /* header 3 styles */
  .header3 {
    display: none;
  }

  /* FOOTER --- STYLE ---- SECTION */

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    column-gap: 3rem;
  }
  footer p {
    font-size: 0.6rem;
  }
  footer h3 {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }

  /* FOOTER ---- BACK TO TOP ---- COLUMN */

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem 0;
    background-color: #6283a1;
    display: none;
  }

  /* FOOTER ---- FIRST ---- COLUMN */
  footer img {
    width: 30px;
    height: 30px;
  }

  footer .footerlogo {
    gap: 0.3rem;
  }

  footer .footerlogo h1 {
    font-size: 1rem;
  }

  .socials-icon {
    width: 18px;
    height: 18px;
  }

  /* FOOTER ---- SECOND ---- COLUMN */

  .quick-links h3 {
    margin-top: 0;
  }

  /* FOOTER ---- FOURTH ---- COLUMN */
  .contact-us h3 {
    margin-bottom: 0;
  }

  /* FOOTER ---- LAST ---- COLUMN */
  .footer-last-column {
    display: flex;
    flex-direction: column;
  }
}

/* small mobile Adjustments (max-width: 375px) */

@media (max-width: 375px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
  }

  /* FOOTER ---- SECOND ---- COLUMN */

  .quick-links h3 {
    margin-top: 1.5rem;
  }

  /* FOOTER ---- LAST ---- COLUMN */

  .footer-last-column {
    padding: 0 1rem 1rem 1rem;
  }
}
