* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
}

/* header styles */
.main-header {
  position: sticky;
  top: 0;
  z-index: 10000;
}
header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 3rem; */
}

/* header form  styles */

.search-bar {
  display: flex;
  flex-direction: row;
  grid-column: 2 / 3;
 
}
header form {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

header input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  flex-grow: 1;
}

header input[type="text"]::placeholder {
  color: #999;
  padding: 1rem;
}
header input[type="text"]:focus {
  border-color: #1f4e79;
  border: 2px solid #1f4e79;
}

header button {
  border: 1px solid #ccc;
  border-left: none;
  background-color: #ff6b35;
  color: white;
  padding:  1rem ;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

header h1 {
  font-size: 1.5rem;
  color: #1f4e79;
  margin-left: 2rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

/* header account styles */
.headeracc {
  display: flex;
  color: #333;
  gap: 0.9rem;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  justify-content: flex-end;
  margin-top: 5%;
  margin-bottom: 5%;
}

.headeracc a {
  color: #1f4e79;
  text-decoration: none;
  cursor: pointer;
}

.headeracc a :hover {
  color: #1f4e79;
}

.headeracc p {
  font-size: 0.6rem;
  color: #333;
}

hr {
  border: none;
  height: 1px;
  background: #e5e7eb;
}

/* second header styles */
.header3 {
  display: flex;
  background-color: #f9fafb;
  gap: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  font-weight: 400;
}
.header3 a {
  color: #333;
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header3 a:hover {
  color: #1f4e79;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header3 a:active {
  color: #f59e0b;
}

.header3 a:visited:hover {
  color: #1f4e79;
}
.all-categories {
  margin-left: 2rem;
  color: #1f4e79;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 550;
}

/* hero section styles */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  /* background-color: #1f4e79; */
  text-align: center;

  background: #1f4e79; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2774ae,
    #1f4e79,
    #1f4e79
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2774ae,
    #1f4e79,
    #1f4e79
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Tablet & Up (min-width: 768px) */
@media (min-width: 768px) {
  /* .header3 {
    display: none; */
}

/* Mobile Adjustments (max-width: 600px) */
@media (max-width: 600px) {
  header {
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem 1rem;
    gap: 0rem;
  }

  header h1 {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .search-bar {
    grid-column: 1 / 3;
  }

  .headeracc {
    justify-content: center;
    margin-top: 0.5rem;
    margin-right: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-left: 0;
  }
  /* header 3 styles */
  .header3 {
    display: none;
  }
}
